<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./CSS/stylesheet.css" rel="stylesheet"/>
</head>

<body>

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recipies</a>

    </ul>

</nav>

<div class="container"> <!--Creates container-->
    <div class="row"> <!--Creates row 1-->
        <div class="col-sm-3">
            Sample text

            </div> <!--Closes col 1-->
        </div> <!--Closes row-->
    </div> <!--Closes container-->
</body>
</html>