<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./CSS/stylesheet.css" rel="stylesheet"/>
</head>

<body>
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recipies</a>

    </ul>

</nav>

<div class="container"> <!--Creates a container-->
    <div class="row"> <!--Creating a row-->
        <div class="col-md-4"> <!--create col 1-->
<img class="pic" src="./images/Flag_Jamaica.png/" alt="Flag of Jamaica"/>
<img class="pic" src="./images/jerk-chicken-940.jpg" alt="Picture of Jerk chicken"/>
            <h1>Jerk Chicken</h1>
        </div> <!--Closing col 1-->



        <div class="col-md-4"> <!--Creating col 2-->

<h3>Ingredients:</h3>

<li>1/2 small onion, finely chopped</li>
<li>2 tablespoons soft dark brown sugar</li>
<li>3 tablespoons soy sauce</li>
<li>3 tablespoons red wine vinegar</li>
<li>small handful chopped fresh thyme</li>
<li>1 teaspoon sesame oil</li>
<li>3 cloves garlic, chopped</li>
<li>1/2 teaspoon ground allspice</li>
<li>1 small red chilli, sliced</li>
<li>4 skinless, boneless chicken breast fillets - cut into strips</li>

        </div> <!--close col 2-->
 <div class="col-md-4"> <!--Creating col 3-->
<h5>Directions</h5>
<p>Prep:10min  ›  Cook:15min  ›  Extra time:1hr  ›  Ready in:1hr25min <br>
Combine the onion, brown sugar, soya sauce, vinegar, thyme, sesame oil,
    garlic, allspice and chilli in the container of a food processor or blender.
    Process until smooth. Place the chicken into a large resealable bag, and pour in 3/4 of the mixture.
    Save the remaining mixture for serving. Squeeze out excess air, and seal. Marinate in the refrigerator for at least one hour.</p>

<p>Preheat your oven's broiler without the tray.</p>

<p>Remove chicken from the bag, and discard marinade. Place chicken on tray and broil for 10 to 15 minutes, turning once to ensure
    even cooking. Heat reserved 1/4 marinade in a small pan to make a sauce and pour over chicken when serving.</p>
 </div> <!--Closed col 3-->
    </div> <!--close row-->
</div> <!--close container-->



</body>
</html>